*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}


/* topnav */


nav{
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  padding: 10px 12px;
  text-align: center;
  font-size: 17px;
  display: inline-block;
  text-decoration: none;
  float: none;
  margin-top: 10px;
  border-radius: 20px;
  left: 30%;
  right: 30%;
}

.header {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7));
  background-size: cover;
  width: 100%;
  height: 100vh; /* Set to full viewport height */
}

.box {
  margin-top: 20px;
  /* height: 1000px; Remove the fixed height */
  text-align: center;
}

/* Add this to your existing style.css or in a style tag in the head section */
#typed-container {
  display: inline-block;
  width: 180px; /* Adjust the width as needed */
  /* overflow: hidden; */
}

#typed {
  white-space: nowrap;
}





/* nav li a:hover{
  background: red;
} */

.topnav {
  overflow: hidden;
  position: relative;
  text-align: center;
  

}

.topnav a {
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: inline-block;

}

.topnav a:hover {
  /* background-color: rgb(174, 174, 174); */
  color: rgb(4, 173, 173);
}

.topnav a.active {
  /* background-color: #04AA6D; */
  color: rgb(0, 164, 197);
}

/* Add this to your existing style.css or in a style tag in the head section */
.navbar {
  display: none;
}

.navbar-visible {
  display: block;
}


/* main */


.main{
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 160px;
}

.atas{
  width: 100%;
}

.main h1{
    font-size: 80px;
    color: aliceblue;
}

.main h2{
    font-size: 60px;
}

.main p{
  /* width: 500px; */
  margin-top: 145px;
  color: #dfdfdf;
}

.main a{
  font-size: 30px;
  color: black;
  padding: 6px;
}

span{
  /* color: rgb(154, 0, 100); */
  color: rgb(0, 164, 197);
}

/* keahlian */
.keahlian{
  width: 70%;
  margin: auto;
  text-align: center;
  padding-top: 50px;

}

/* .keahlian h1{
  text-align: center;
} */

.baris{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.piton {
  flex-basis: 31%;
  background: #dfdfdf;
  border-radius: 10px;
  margin-bottom: 5%;
  padding:20px 12px;
  box-sizing: border-box;
  transition: 0.5s;

}

.piton:hover{
  box-shadow: 0 0 20px 0 rgb(0, 0, 0,0.2);
}

/* pengalaman */

.exp{
  padding-top: 30px;
  margin: auto;
  width: 60%;
  text-align: center;
}

.barisex{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
}

.penglmn{
  /* margin-left: 60px; */
  background: #dfdfdf;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
}

.penglmn h3{
  float: center;
  margin-top: 8px;
  
}

.penglmn p{
  margin-top: 0;
  margin-bottom: 0;
}

.penglmn img{
  float: left;
}

.hide{
  display: none;
  text-align: left;
  padding: 15px;
}



/* footer */
.footer{
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer h4{
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}

.icons{
  color: #000000;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}

.icons a{
  color: #000000;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: inline-block;
}


/* mobile */
@media screen and (max-width: 800px) {
  .topnav a {
    padding: 8px 8px;
    font-size: 17px;
  
  }

  nav{
    font-size: 8px;
    padding: 3px 4px;
    /* margin: auto; */
    left: 6%;
    right: 6%;
  }

  .main{
    margin-left: -50px;
  }
  .main h1, h2{
    width: 100%;
    font-size: 30px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .main h2 {
    font-size: 35px;
  }
  .main p{
    width: 300px;
    padding-left: 10px;
  }
  .baris{
    flex-direction:column;
  }

  /* pengalaman */
  .penglmn{
    margin: auto;
    margin-top: 15px;
  }
  
}
